<%= render partial: 'spree/shared/error_messages', locals: { target: @dislu_album } %>
<div class="form-group">
  <%= f.field_container :name do %>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  <% end %>
  <%= f.field_container :csize do %>
    <%= f.label :csize %>
    <%= f.text_field :csize, class: 'form-control' %>
  <% end %>

 <%= f.field_container :photos do %>
    <%= f.label :photos %>
    <%= f.file_field :photos, multiple: true ,class: 'form-control' %>
  <% end %>
</div>

