<% content_for :page_title do %>
  <%= link_to plural_resource_name(Spree::DisluAlbum), spree.admin_dislu_albums_path %> /
  <%= Spree.t(:edit_dislu_album) %>
<% end %>

<%= form_for([:admin, @dislu_album], html: { multipart: true }) do |f| %>
  <fieldset>
    <%= render partial: 'form', locals: { f: f } %>
    <div data-hook="buttons" class="form-actions">
    <%= button Spree.t('actions.create'), 'ok', 'submit', {class: 'btn-success'} %>
  </div>
  </fieldset>
<% end %>